.session-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  li{
    padding: 8px 4px;
    a{
      padding: 4px 8px;
    }
  }
}

.full-name{
  padding: 8px ;
}

.lookup-friends{
  margin: 3rem 0;
}